.section-title {
  text-align: center;
}

.projects,
.skills,
.about {
  padding: 20px 0;
}

.about .section-title,
.contact .section-title {
  text-align: left;
}

@media (--medium) {
  .section-title {
    text-align: left;
  }

  .projects,
  .skills,
  .about {
    padding: 40px 0;
  }
}

@media (--large) {
  .projects,
  .skills,
  .about {
    padding: 60px 0;
  }
}
