.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (--small) {
  .container {
    max-width: 540px;
  }
}

@media (--medium) {
  .container {
    max-width: 720px;
  }
}

@media (--large) {
  .container {
    max-width: 960px;
  }
}

@media (--extra-large) {
  .container {
    max-width: 1140px;
  }
}
