@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('./assets/fonts/poppins-latin-400-normal.woff2') format('woff2'),
      url('./assets/fonts/poppins-latin-400-normal.woff') format('woff');
  }

  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url('./assets/fonts/poppins-latin-700-normal.woff2') format('woff2'),
      url('./assets/fonts/poppins-latin-700-normal.woff') format('woff');
  }

  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}
