@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    font-size: clamp(0.75rem, 0.5rem + 1.2vw, 1rem);
  }

  *,
  *::before,
  *::after {
    scroll-behavior: smooth;
  }

  body {
    color: var(--fg-primary);
    background-color: var(--bg-primary);
  }

  a {
    color: var(--fg-primary);
    text-decoration: none;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      scroll-behavior: auto;
    }
  }
}
