@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --violet: theme(colors.violet);
    --secondary-opac: theme(colors.secondary-opac.DEFAULT);
    --shadow-primary: theme(colors.shadow-primary.DEFAULT);
  }

  html {
    font-family: Poppins, system-ui, sans-serif;
    font-size: clamp(0.75rem, 0.5rem + 1.2vw, 1rem);
  }

  *,
  *::before,
  *::after {
    scroll-behavior: smooth;
  }

  body,
  a {
    color: theme('colors.fg-primary.DEFAULT');
  }

  html.dark {
    --secondary-opac: theme(colors.secondary-opac.dark);
    --shadow-primary: theme(colors.shadow-primary.dark);
  }

  html.dark body,
  html.dark a {
    color: theme('colors.fg-primary.dark');
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      scroll-behavior: auto;
    }
  }
}

@layer utilities {
  .project-card-first-clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 100%);
  }

  .project-card-last-clip {
    clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 100%);
  }

  .animated-link:hover {
    color: theme('colors.primary.DEFAULT');
  }

  html.dark .animated-link:hover {
    color: theme('colors.primary.dark');
  }

  .animated-link::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: theme('colors.primary.DEFAULT');
    transition: width 0.1s linear;
  }

  html.dark .animated-link::after {
    background-color: theme('colors.primary.dark');
  }

  .animated-link:hover::after {
    width: 100%;
  }

  .transform-preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-logo {
    transform: rotateX(27deg) rotateY(-27deg);
  }

  .logo-svg-path {
    stroke-dasharray: 1px 1px;
  }

  @media screen(md) {
    .project-card-first-clip {
      clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
    }

    .project-card-last-clip {
      clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    animated-link::after {
      transition: none;
    }
  }
}
