.about {
  background-color: var(--bg-secondary);
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-info {
  letter-spacing: -0.5px;
  text-align: justify;
}

.about-img {
  text-align: center;
}

.about-img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
