.contact {
  padding-bottom: 120px;
  background-color: var(--bg-secondary);
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.contact-link {
  width: 100%;
  padding: 20px;
  font-size: 1.25rem;
  border-radius: 6px;
  color: var(--fg-primary);
  background-color: var(--bg-primary);
  box-shadow: 6px 6px 0px var(--shadow-primary);
}

.contact-link > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-link svg {
  width: 24px;
  height: 24px;
}

@media (--medium) {
  .contact-links {
    gap: 12px;
  }

  .contact-link {
    width: 49%;
    font-size: 1rem;
  }
}

@media (--large) {
  .contact-links {
    gap: 16px;
  }

  .contact-link {
    width: 49%;
    font-size: 1.25rem;
  }
}
