.footer {
  padding: 20px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links a:hover {
  color: var(--primary);
}

.footer-copyright {
  text-align: center;
  margin-top: 14px;
}
