.hero {
  padding-top: 60px;
  padding-bottom: 80px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-stack {
  font-size: 1.8rem;
}

.hero-projects-link,
.hero-about-link {
  border-radius: 24px;
  padding: 12px 24px;
  display: block;
  width: 200px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.hero-projects-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--violet);
}

.hero-projects-link .chevron,
.hero-about-link .hand {
  display: inline-block;
}

.hero-about-link {
  color: var(--fg-primary);
  border: 2px solid var(--violet);
}

.logo-animation {
  padding: 40px 0;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.logo-animation-bg {
  background-color: var(--bg-logo);
}

.logo-animation-svg {
  display: block;
  width: 250px;
  height: 100%;
  margin: auto;
}
