.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero .container {
  flex-direction: row;
}

.hero-info,
.hero-logo {
  width: 50%;
}

.hero-info {
  padding: 40px 0;
}

.full-stack {
  font-size: 1.5rem;
}

.hero-projects-link .chevron {
  width: 20px;
  height: 20px;
}

.logo-animation {
  margin-right: -20px;
}

.logo-animation-svg {
  width: 250px;
}
