.nav {
  padding: 20px 0;
  background-color: var(--bg-primary);
}

.nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-icons,
.nav-hamburger {
  z-index: 2;
}

.nav-links {
  display: none;
}

.nav-mobile-links {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  inset: 0;
  z-index: 1;
}

.nav-mobile-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  transform: translateX(110%);
}

.nav-mobile-links-list li {
  padding: 20px 0;
  border-top: 1px solid #4c4c4c;
}

.nav-link {
  color: var(--fg-primary);
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
}

.nav-logo-link {
  font-size: 1.5rem;
}

.nav-github-btn {
  margin: auto;
  width: 70%;
  border-radius: 24px;
  padding: 12px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--fg-primary);
  font-weight: bold;
  border: 2px solid var(--highlight);
}

.nav-github-btn .nav-github {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.nav-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav-icons > div:last-child {
  display: none;
}

.nav-icon {
  width: 45px;
  height: 45px;
  display: block;
}

.theme-btn {
  cursor: pointer;
  background: none;
  border-radius: 50%;
  border: 2px solid var(--fg-primary);
}

.theme-sun,
.theme-moon {
  width: 25px;
  height: 25px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease;
}

.theme-sun {
  transform: translateY(8px);
}

.theme-moon {
  transform: translateY(-20px);
}

.theme-btn svg path,
.nav-github {
  fill: var(--fg-primary);
}

.fade {
  opacity: 0;
  visibility: hidden;
}

.nav-hamburger {
  margin-left: 15px;
}

.nav-hamburger-btn {
  width: 45px;
  height: 45px;
  border: 2px solid var(--fg-primary);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: block;
  margin: auto;
}

.nav-hamburger-btn div {
  width: 50%;
  height: 1px;
  border: 1px solid var(--fg-primary);
  border-radius: 5px;
  margin: 3px auto;
  transition: transform 0.5s, visibility 0.2s;
}

.nav-hamburger-btn.transform-btn > div:first-child {
  transform: translateY(4px) rotateZ(-45deg);
}

.nav-hamburger-btn.transform-btn > div:nth-child(2) {
  visibility: hidden;
}

.nav-hamburger-btn.transform-btn > div:nth-child(3) {
  transform: translateY(-6px) rotateZ(45deg);
}

@media (--small) {
  .nav-mobile-links-list {
    width: 320px;
    padding-top: 80px;
    box-shadow: 0px 1px 3px #4c4c4c;
  }

  .nav-mobile-links .nav-link {
    padding: 0 54px;
  }
}

@media (--medium) {
  .nav-mobile-links {
    display: none !important;
  }

  .nav-links {
    display: block;
  }

  .nav-links-list {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  .nav-link:hover {
    color: var(--highlight);
  }

  .nav-animated-link::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--highlight);
    transition: width 0.1s linear;
  }

  .nav-animated-link:hover::after {
    width: 100%;
  }

  .nav-github-link {
    display: none;
  }

  .nav-icons {
    flex: 0;
  }

  .nav-icons > div:last-child {
    display: block;
  }

  .theme-sun {
    transform: translateY(8px);
  }

  .theme-moon {
    transform: translateY(-20px);
  }

  .nav-hamburger {
    display: none;
  }
}

@media (--large) {
  .nav-links-list {
    gap: 50px;
  }
}
