/* global */
.container {
  max-width: 720px;
}

.section-title {
  text-align: left;
}

.projects,
.skills,
.about {
  padding: 40px 0;
}

/* about */
.about-me {
  align-items: center;
  flex-direction: row;
}

.about-info {
  flex: 1;
}

/* contact */
.contact-links {
  gap: 12px;
}

.contact-link {
  width: 49%;
  font-size: 1rem;
}

/* footer */
.footer {
  padding: 40px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-links {
  flex: 1;
  max-width: 500px;
}

.footer-copyright {
  margin-top: 0;
}
