html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.75rem, 0.5rem + 1.2vw, 1rem);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
}

a {
  color: var(--fg-primary);
  text-decoration: none;
}

.section-title {
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.projects,
.skills,
.about {
  padding: 20px 0;
}

.about .section-title,
.contact .section-title {
  text-align: left;
}

.text-primary {
  font-weight: bold;
  color: var(--primary);
}

.scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--secondary);
  z-index: 2;
}

.scroll-up svg {
  width: 19px;
  height: 19px;
  stroke: var(--white);
}
