---
import { Image } from 'astro:assets';
import github from '~/assets/icons/github.svg';
---

<a
	target="_blank"
	rel="noreferrer"
	href="https://github.com/redasalmi"
	class="flex h-11 w-11"
>
	<Image src={github} alt="reda salmi github account" class="m-auto h-8 w-8" />
</a>
