---
import ThemeToggle from '~/components/Navbar/ThemeToggle.astro';
import HamburgerMenu from '~/components/Navbar/HamburgerMenu.astro';
import GithubLink from '~/components/Navbar/GithubLink.astro';
---

<nav-menu
	data-open="false"
	class="z-[3] flex flex-1 items-center justify-end gap-[10px] md:flex-[0]"
>
	<div>
		<ThemeToggle />
	</div>

	<div class="md:hidden">
		<HamburgerMenu />
	</div>

	<div class="hidden md:block">
		<GithubLink />
	</div>
</nav-menu>

<script src="~/scripts/navMenu.ts"></script>
