.dark {
  --bg-primary: #16161a;
  --bg-secondary: #2a2a3b;
  --bg-logo: #242629;

  --fg-primary: #fffffe;

  --primary: #ff8906;
  --secondary: #1ed760;
  --secondary-opac: #1ed7603a;

  --nav-border: #515151;
  --shadow-primary: #0d0d0d;
}
