.light {
  --bg-primary: #f5f6fa;
  --bg-secondary: #ffffff;
  --bg-logo: #ffffff;

  --fg-primary: #2b2c34;

  --primary: #af5b00;
  --secondary: #0055af;
  --secondary-opac: #0055af3a;

  --nav-border: #d2d3d7;
  --shadow-primary: #b0b0b0;
}
