.dark {
  --bg-primary: #16161a;
  --fg-primary: #fffffe;
  --headline: #fffffe;
  --paragraphe: #94a1b2;
  --btn-bg: #6246ea;
  --btn-text: #fffffe;
  --highlight: #6246ea;
  --tertiary: #2cb67d;

  --logo-bg: #1e1e1e;
  --logo-shadow: #101010;
}
