.light {
  --bg-primary: #f8f9fa;
  --fg-primary: #2b2c34;
  --headline: #2b2c34;
  --paragraphe: #2b2c34;
  --btn-bg: #6246ea;
  --btn-text: #fffffe;
  --highlight: #6246ea;
  --tertiary: #e45858;

  --logo-bg: #ffffff;
  --logo-shadow: #e1e1e1;
  --project-shadow: #b0b0b0;
}
