@import '_fonts.css';
@import '_colors.css';
@import '_light.css';
@import '_dark.css';

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.75rem, 0.5rem + 1.2vw, 1rem);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--fg-primary);
  background-color: var(--bg-primary);
}

a {
  color: var(--fg-primary);
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-highlight {
  font-weight: bold;
  color: var(--highlight);
}

.scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--tertiary);
  z-index: 130;
}

.scroll-up svg {
  width: 19px;
  height: 19px;
  stroke: var(--white);
}

@media (--small) {
  .container {
    max-width: 540px;
  }
}

@media (--medium) {
  .container {
    max-width: 720px;
  }
}

@media (--large) {
  .container {
    max-width: 960px;
  }
}

@media (--extra-large) {
  .container {
    max-width: 1140px;
  }
}
