/* global */
.container {
  max-width: 540px;
}

/* navbar */
.nav-mobile-links-list {
  width: 320px;
  box-shadow: 0px 1px 3px #4c4c4c;
}

.nav-mobile-links .nav-link {
  padding: 0 54px;
}

.nav-github-btn {
  width: 80%;
}

/* hero */
.hero-projects-link,
.hero-about-link {
  width: 250px;
}

.logo-animation-svg {
  width: 300px;
}

/* projects */
.project {
  height: 520px;
}
